$headings-font-family: Asap;
$primary: #00adb5;
$secondary: #f8b500;
$body-bg: #393e46;
$text-muted: #6c757d;
$body-color: $text-muted;
$border-radius: 8px;

$enable-responsive-font-sizes: true;
$rfs-base-font-size: 1rem;
$enable-caret: false;

$enable-shadows: true;

$theme-colors: (
  'special': #e01c55
);

$spacer: 1rem;

$spacers: (
  6: (
    $spacer * 8
  ),
  5: (
    $spacer * 5
  )
);

$sizes: (
  33: 33%
);

$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  //576px
    md: 768px,
  lg: 992px,
  xl: 1200px
);

$container-max-widths: (
  sm: 320px,
  //540px
    md: 720px,
  lg: 960px,
  xl: 1140px
);
